<html>
  <head>
    <meta charset="uft-8">
    <title>Create your own greeting card with politicians, gods and actors images</title>
    <meta name="description" content="Create your own Greeting card with gods, politicians, actors">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="How to change the address bar color in Chrome, Firefox, Opera, Safari" />
    <meta property="og:description" content="How to change the address bar color in Chrome, Firefox, Opera, Safari" />
    <meta property="og:url" content="http://webdevelopmentscripts.com/64-how-to-change-the-address-bar-color-in-chrome-firefox-opera-safari" />
    <meta property="og:image" content="http://webdevelopmentscripts.com/post-images/685b-change-browser-address-bar-color-chrome-android.jpeg" />
    <meta property="og:site_name" content="Wish your Dearones" />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="stylesheets/fireworks.css" rel="stylesheet">

    <link itemprop="thumbnailUrl" href="https://dl.myket.ir/newresizing/resize/medium/png/icon/com.happy.new_year_f4c7d115-7186-4c73-a4d2-b0005a928678_.png">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2977947272382604",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/requestanimframe.js"></script>
  <script src="js/fireworks.js"></script>
  <script src="js/whatsapp-button.js"></script>
  <script src="js/fs.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<body>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2977947272382604",
      enable_page_level_ads: true
    });
  </script>
  <div class="container-fluid">
    <marquee behavior="scroll" direction="down" scrolldelay="4" class="anim-down">
      <img alt="frame-border" src='/images/frame-2.2.png' />
      <img alt="frame-border" src='/images/frame-2.2.png' />
      <img alt="frame-border" src='/images/frame-2.2.png' />
    </marquee>
    <marquee behavior="scroll" direction="up" scrolldelay="4" class="anim-up">
      <img alt="frame-border" src='/images/frame-2.2.png' />
      <img alt="frame-border" src='/images/frame-2.2.png' />
      <img alt="frame-border" src='/images/frame-2.2.png' />
    </marquee>
  <div class="row">

    <div class="col-sm-12 col-lg-12 col-xs-12 col-md-12">
      <div class="main-div">

        <div id="clockdiv">
          <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
          </div>
          <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
          </div>
          <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
          </div>
          <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
          </div>
        </div>
        <marquee behavior="scroll" direction="left" scrolldelay="2" class="">
          <div class="text">
            {{#if from}}
              {{from}} wishing you and your family
            {{/if}}
            Happy New Year 2018
          </div>
        </marquee>

        <p hidden>Nations will rise and fade Kings will rule and fall But Christmas will be forever It is the birthday of our Lord Merry Christmas and New Year</p>
        <p hidden>Christmas is the season for party and fun Let us start with prayers and praise Let the happiness and joy fills our house Have a happy Holiday!</p>
        <p hidden>As the Christmas Day comes and you pray at Church, Do not forget those who have nowhere to pray Those who have nowhere to live, Share the happiness and love with them That is the best celebration you can give to Jesus</p>
        <p hidden>New beginnings, fresh starts, reaffirmations of love and promises for a brighter future all come to mind as we ring in a New Year. There are the superficial, yet purposeful, promises we make to ourselves. We resolve to get in shape, lose weight, improve career paths, and the like. Then, there are the heartfelt promises we make to others, whether aloud or in our minds. We want to care more, express love more, reverse bad feelings in old relationships or seek out new loving      relationships. We try our very best to put these desires into words. Though New Years can be a time of celebration and cheer, there are many people who are facing difficult circumstances. They may be entering this time of year with apprehension or anxiety. If that’s the case for anyone in your circle of friends or family, you can reach out and be an encouragement by wishing them the best for the upcoming year. If your loved ones are experiencing favorable circumstances, you can wish them continued success. Whether you live nearby or far away, you can send heartfelt wishes for happiness, health, and prosperity to those who mean the most to you at this special time of year. Find the perfect words here! Choose among hundreds of genuine heartfelt Happy New Year wishes and greetings for your family, friends and loved ones
        <p hidden>Wishing you a Happy New Year with the hope that you will have many blessings in the year to come.</p>


        <div class="image-div">
          <p hidden>New Year Wishes take your lovely words to your family, friends, relatives, colleagues, acquaintances in short anyone you know. But of course the essence of the Happy New Year Wishes keeps changing with the change in recipient. New Year Wishes Greetings could be as intimate or as formal as you want them to be.</p>
          <p hidden>Ring in the New Year by enjoying and sharing this collection of happy New Year wishes and New Year images. The New Year brings with it a fresh start and a sense of rejuvenation and rebirth. We often make New Year’s resolutions in an attempt to improve ourselves and the lives of those around us. Expressing our love, gratitude and appreciation to others on the New Year by sending happy New Year messages for friends and loved ones is a great way to share in this spirit of renewal and joy with those around us.</p>
         <div><img alt="User Pic dd" src={{image}} class="img-circle img-responsive"></div>
         <marquee behavior="scroll" direction="left" scrolldelay="2" class="">
           <div>
             <font color="white">
               Hope the New Year with it brings just happiness for you and not a single tear, Since everyone just loves you
               May all your problems, never again bother you, this is my special New Year wish for you.
             </font>
           </div>
         </marquee>
         <br/>
         <a href="#whatsapp-modal-dialog" class="wa_btn wa_btn_s" data-toggle="modal">Share</a>
         <!-- <button onclick="document.getElementById('whatsapp-modal-dialog').style.display='block'" class="wa_btn wa_btn_s" style="width:auto;">Share</button> -->
         <nav class="nav navbar-nav">
           {{#each items}}
             <a class="active btn btn-sm btn-default" href={{this.src}}>{{this.name}}</a>
           {{/each}}
         </nav>
       </div>
       <br/>

        <!-- Modal HTML -->
        <div id="whatsapp-modal-dialog" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Greeting Card</h4>
              </div>
              <div class="modal-body">
                <form>
                  <input type="hidden" name="lan" id="lan" value={{language}}>
                  <input type="hidden" name="name" id="name" value={{name}} >
                  <div class="form-group">
                  <label for="inputName">Enter your name and send</label>
                  <div>
                    <i class="em em-point_down"></i>
                    <i class="em em-point_down"></i>
                    <i class="em em-point_down"></i>
                    <i class="em em-point_down"></i>
                  </div>
                  <input type="text" class="form-control" name="from" id="from" autofocus>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success share-whats-app">Send</button>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="bomb-rocket"></div>
          <div class="bomb-rocket"></div>
          <div class="bomb-rocket"></div>
          <div class="normal-rocket"></div>
          <div class="normal-rocket"></div>
          <div class="normal-rocket"></div>
        </div>
        <p hidden>You could send an inspirational Happy New Year Greetings 2018 that could lay foundation stone to your dear one’s New Year resolution. Or you could send a hilarious few lines to start the person’s New Year with a ring of laughter.For people close to you sentimental Happy New Year 2018 Wishes would surely touch their heart. There are zillions of options available online and offline from where you can get an idea to frame your Happy New Year 2018 Greetings. But always remember to add your own personal touch to make your Wishes for New Year one of a kind.</p>
        <p hidden>No matter where your loved ones are, send them beautiful messages on their birthday to make them feel special. Here we have a variety of cards for every category and occasion. These cards would surely brighten up the day of your near and dear ones.</p>
        <p hidden>Life is tough but birthdays are smooth because I will finally have a chance to smile at you. Happy birthday</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">if(typeof wabtn4fg==="undefined"){wabtn4fg=1;h=document.head||document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="js/whatsapp-button.js";h.appendChild(s);}</script>
</body>

<script type="text/javascript">

function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var new_year = new Date("January 01, 2018 00:00:00");
var new_year_secs= new_year.getTime();
var currentTime = new Date();
var currentTime_secs= currentTime.getTime();
var diff = new_year_secs-currentTime_secs;
var deadline = new Date(Date.parse(new Date()) + diff);
initializeClock('clockdiv', deadline);

var modal = document.getElementById('whatsapp-modal-dialog');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}


$(document).ready(function() {
  var isMobile = {
    Android: function() {
      return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
      return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
      return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
      return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
      return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
      return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
  };
   $(document).on("click", '.share-whats-app', function() {
    if(!isMobile.any() ) {
      var lan = $('#lan').val();
      var name = $('#name').val();
      var from = $('#from').val();
      var params = {}
      params.name = name;
      params.lan = lan;
      params.from = from;
      var uri = ''+lan+'&name='+name+'&from='+from;
      var link = 'http://www.wishess4all.com/?lan='+encodeURIComponent(uri);
      var fakeLink = document.createElement('a');
      fakeLink.setAttribute('href', 'whatsapp://send?text=Create your own greeting cards with gods, politicians and actors images for free '+encodeURIComponent(link));
      fakeLink.setAttribute('data-action', 'share/whatsapp/share');
      fakeLink.click();
      params.share=true;
      post('http://www.wishess4all.com/', params);
    } else {
      alert("Please share this article in mobile device");
    }
  });
  function post(path, params, method) {
    method = method || "get";
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for(var key in params) {
      if(params.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
  }
});

</script>
</html>
